/* fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&family=Lobster&family=Manrope&family=Open+Sans&family=Poppins&family=Rubik&family=Work+Sans&display=swap');

/* 
font-family: 'EB Garamond', serif;
font-family: 'Lobster', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/

body {
    font-family: 'Poppins', serif;
}

/* common color */
.es-color-primary{
    color: #21B573;
}
.es-description-color-primary{
    color: #6C6B6B;
}

/* common styles */
.es-btn-primary{
    height: 43px;
    width: 153px;
    background-color: #21B573;
    color: #FFFFFF;
    border: none;
    border-radius: 33px;
}


/* header styles */
.es-header-bg {
    background-color: #F0FFF0;
}

.es-logo {
    height: 60px;
    width: 200px;
}

.es-signin-btn {
    background: #21B573;
    border-radius: 33px;
    width: 104px;
    height: 43px;
    border: none;
}
.es-header-banner{
    height: 345px;
    width: 550px;
}